.cabecalho {
    background-color: black;
    text-align: center;
    padding: 20px 0; /* Espaçamento em cima e embaixo */
}

.cabecalho h1 {
    color: white;
    margin-bottom: 10px;
}

.cabecalho h3 {
    color: #00ced1; /* verde água */
    margin-top: 0;
}
